<!doctype html>
<html lang="en-us">
<head>
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="//cdn.muicss.com/mui-0.4.7/css/mui.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- the confluence web components js -->
    <script src="/dist/confluence-web-components-flatpack.js"></script>

    <!-- some custom styles for this theme -->
    <link href="/public/themes/material-design/css/connect-material.css" rel="stylesheet" type="text/css"/>

    <!-- the required connect all.js -->
    <script src="{{hostScriptUrl}}"></script>
    <title>{{title}}</title>
</head>
<body>
    <div>
        <div id="sidedrawer" class="mui--no-user-select">
            <nav id="sidenav">
                <div class="mui--divider-bottom">
                    <h2 class="mui--appbar-line-height"><a href="{{xdm_e}}{{cp}}" target="_top">Confluence</a></h2>
                </div>
                <ul>
                    <li>
                        <strong>Spaces</strong>
                        <confluence-space-list tag-name="ul"></confluence-space-list>
                    </li>
                </ul>
            </nav>
        </div>
        <header id="header">
            <div class="mui-appbar mui-container-fluid">
                <table width="100%">
                    <tbody>
                    <tr class="mui--appbar-height">
                        <td>
                            <a class="sidedrawer-toggle js-toggle-sidedrawer">☰</a>
                        </td>
                        <td class="mui--text-right">
                            <a href="{{xdm_e}}{{cp}}/pages/edit{{contentType}}.action?pageId={{pageId}}"><i class="material-icons">mode_edit</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </header>
        <div id="content-wrapper">
            <div class="mui--appbar-height"></div>
            <div class="mui-container">
                <div class="mui-row">
                    <div class="mui-col-md-6">
                        <h2>Recent Pages</h2>
                        <div class="mui-panel">
                            <confluence-content-list tag-name="ul" cql="type=page order by created"></confluence-content-list>
                        </div>
                    </div>
                    <div class="mui-col-md-6">
                        <h2>Recent Blogposts</h2>
                        <div class="mui-panel">
                            <confluence-content-list tag-name="ul" cql="type=blogpost order by created"></confluence-content-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function() {
            function toggleDrawer() {
                document.querySelector('body').classList.toggle('hide-sidedrawer');
            }

            document.querySelector('.js-toggle-sidedrawer').addEventListener('click', toggleDrawer);
        })();
    </script>
</body>
</html>
