confluence-comment-list .avatar {
    width: 45px;
    height: 45px;
}
confluence-comment-list ol {
    list-style: none;
}

confluence-quick-search button,
confluence-quick-search label {
    display:none;
}
confluence-quick-search ul li {

}

html,
body {
    height: 100%;
    background-color: #eee;
}

html,
body,
input,
textarea,
buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/**
 * Layout CSS
 */
#header { position:fixed; top:0; right:0; left:0; z-index:2; transition:left 0.2s; }
#sidedrawer { position:fixed; top:0; bottom:0; width:200px; left:-200px; overflow:auto; z-index:2; background-color:#fff; transition:transform 0.2s; }
#content-wrapper {
    min-height: 100%;
    overflow-x: hidden;
    margin-left: 0px;
    transition: margin-left 0.2s;

    /* sticky bottom */
    margin-bottom: -160px;
    padding-bottom: 160px;
}

#footer {
    height: 160px;
    margin-left: 0px;
    transition: margin-left 0.2s;
}

@media (min-width: 768px) {
    #header {
        left: 200px;
    }

    #sidedrawer {
        transform: translate(200px);
    }

    #content-wrapper {
        margin-left: 200px;
    }

    #footer {
        margin-left: 200px;
    }

    body.hide-sidedrawer #header {
        left: 0;
    }

    body.hide-sidedrawer #sidedrawer {
        transform: translate(0px);
    }

    body.hide-sidedrawer #content-wrapper {
        margin-left: 0;
    }

    body.hide-sidedrawer #footer {
        margin-left: 0;
    }
}

/**
 * Toggle Side drawer
 */
#sidedrawer.active {
    transform: translate(200px);
}

/**
 * Header CSS
 */
.sidedrawer-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
}

.sidedrawer-toggle:hover {
    color: #fff;
    text-decoration: none;
}

/**
 * Footer CSS
 */
#footer {
    background-color: #0288D1;
    color: #fff;
}

#footer a {
    color: #fff;
    text-decoration: underline;
}

#header, #sidedrawer {
    position: fixed;
    top: 0;
    z-index: 2
}

#content-wrapper, #footer {
    margin-left: 0;
    transition: margin-left .2s
}

.highlight .c, .highlight .cm, .highlight .ge, .highlight .sd {
    font-style: italic
}

body, html {
    height: 100%;
    background-color: #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Tahoma
}

body, buttons, html, input, textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004)
}

#header {
    right: 0;
    left: 0;
    transition: left .2s
}

#sidedrawer {
    bottom: 0;
    width: 200px;
    left: -200px;
    overflow: auto;
    background-color: #FFF;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s
}

#sidedrawer.active {
    -webkit-transform: translate(200px);
    transform: translate(200px)
}

#content-wrapper {
    min-height: 100%;
    overflow-x: hidden;
    margin-bottom: -160px;
    padding-bottom: 160px
}

#footer {
    height: 160px
}

@media (min-width: 768px) {
    #header {
        left: 200px
    }

    #sidedrawer {
        -webkit-transform: translate(200px);
        transform: translate(200px)
    }

    #content-wrapper, #footer {
        margin-left: 200px
    }

    body.hide-sidedrawer #header {
        left: 0
    }

    body.hide-sidedrawer #sidedrawer {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    body.hide-sidedrawer #content-wrapper, body.hide-sidedrawer #footer {
        margin-left: 0
    }
}

.space-top + h1 {
    color: rgba(0, 0, 0, .54)
}

p {
    font-size: 15px;
    line-height: 25px
}

.space-top {
    height: 20px
}

.space-bottom {
    height: 40px
}

#appbar-more-vert, #appbar-sidenav-hide, #appbar-sidenav-show {
    width: 31px;
    height: 31px;
    line-height: 31px;
    display: inline-block;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    border-radius: 50%
}

#appbar-more-vert:hover, #appbar-sidenav-hide:hover, #appbar-sidenav-show:hover {
    background-color: rgba(0, 0, 0, .27);
    text-decoration: none
}

#header.active, .header-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    transition: box-shadow .2s
}

.appbar-brand {
    font-size: 20px;
    color: #fff
}

.appbar-brand:hover {
    text-decoration: none;
    color: #fff
}

#footer {
    padding-top: 10px;
    padding-bottom: 80px
}

#footer a {
    color: #FFF
}

#sidenav h2 {
    padding-left: 22px;
    margin: 0
}

#sidenav h2 a {
    color: rgba(0, 0, 0, .38)
}

#sidenav h2 a:hover {
    text-decoration: none
}

#sidenav ul {
    padding-left:22px;
    list-style: none
}



#sidenav > ul {
    padding-left: 0;
    font-size: 13px
}

#sidenav > ul > li:first-child {
    padding-top: 15px
}

#sidenav > ul a {
    color: rgba(0, 0, 0, .87)
}

#sidenav strong {
    display: block;
    padding: 15px 22px;
}

#sidenav > ul ul li {
    padding:6px 10px 6px 0;
}

#sidenav strong:not(.active) + ul {
    display: none
}

#sidenav a.active {
    color: #C51162
}
