<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>
    <link rel="stylesheet" id="twentyfifteen-fonts-css" href="https://fonts.googleapis.com/css?family=Noto+Sans%3A400italic%2C700italic%2C400%2C700%7CNoto+Serif%3A400italic%2C700italic%2C400%2C700%7CInconsolata%3A400%2C700&subset=latin%2Clatin-ext" type="text/css" media="all" />
    <link rel="stylesheet" href="https://wp-themes.com/wp-content/themes/twentyfifteen/style.css?ver=4.5-beta1-36776" />
    <link rel="stylesheet" id="genericons-css" href="https://wp-themes.com/wp-content/themes/twentyfifteen/genericons/genericons.css?ver=3.2" type="text/css" media="all" />
    <script src="{{hostScriptUrl}}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
    <script src="/dist/confluence-web-components.js"></script>
    <style>
        /*.widget_recent_entries li {*/
            /*overflow: hidden;*/
            /*text-overflow: ellipsis;*/
            /*white-space: nowrap;*/
        /*}*/

        confluence-quick-search button,
        confluence-quick-search label {
            display:none;
        }

        #edit-link { position:absolute; top:20px; right:20px; }
        #edit-link span { font-size:32px }
    </style>
</head>
<body class="home blog">
    <div id="page" class="hfeed site">
        <div id="sidebar" class="sidebar">
            <header id="masthead" class="site-header" role="banner">
                <div class="site-branding">
                    <h1 class="site-title"><a href="{{xdm_e}}{{cp}}" target="_top">Confluence</a></h1>
                    <p class="site-description"><confluence-space-title tag-name="span" space-key="{{spaceKey}}"></confluence-space-title></p>
                </div>
            </header>
            <div id="secondary" class="secondary">
                <div id="widget-area" class="widget-area" role="complementary">
                    <aside class="widget widget_search">
                        <confluence-quick-search placeholder="Search ..."></confluence-quick-search>
                    </aside>
                    <aside class="widget widget_recent_entries">
                        <h2 class="widget-title">SPACES</h2>
                        <confluence-space-list tag-name="ul"></confluence-space-list>
                    </aside>
                    <aside class="widget widget_recent_entries">
                        <h2 class="widget-title">PAGES</h2>
                        <confluence-content-list tag-name="ul" cql="type=page and space={{spaceKey}} order by created"></confluence-content-list>
                    </aside>
                    <aside class="widget widget_recent_entries">
                        <h2 class="widget-title">RECENT BLOGPOSTS</h2>
                        <confluence-content-list tag-name="ul" cql="type=blogpost and space={{spaceKey}} order by created"></confluence-content-list>
                    </aside>
                </div>
            </div>
        </div>
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <article class="post type-post status-publish format-standard hentry">
                        <a href="{{xdm_e}}{{cp}}/pages/edit{{contentType}}.action?pageId={{pageId}}" id="edit-link" target="_top"><span class="genericon genericon-edit"></span></a>
                        <header class="entry-header">
                            <confluence-content-title tag-name="h2" class-name="entry-title" content-id="{{pageId}}"></confluence-content-title>
                        </header>
                        <div class="entry-content">
                            <confluence-content-body content-id="{{pageId}}"></confluence-content-body>
                        </div>
                        <footer class="entry-footer">

                        </footer>
                    </article>
                    <div id="comments" class="comments-area">
                        <h2 class="comments-title">Thoughts on "<confluence-content-title tag-name="span" content-id="{{pageId}}"></confluence-content-title>"</h2>
                        <confluence-comment-list
                            content-id="{{pageId}}"
                            container-class-name="comment-list"
                        ></confluence-comment-list>
                    </div>
                </main>
            </div>
        </div>
        <script>
//            var currentContentId = {{pageId}};

//            function editCurrentContent() {
//                AP.require('navigator', function(navigator) {
//                    navigator.go('contentedit', {
//                        contentId: currentContentId
//                    });
//                });
//            }
//
//            AP.require('request', function(request) {
//                request({
//                    url: '/rest/api/space',
//                    success: function(response) {
//                        var firstSpaceKey = JSON.parse(response).results[0].key;
//                        document.querySelector('confluence-space-title').setAttribute('space-key', firstSpaceKey);
//                        document.querySelector('confluence-content-title').setAttribute('content-id', currentContentId);
//                        document.querySelector('confluence-content-list').setAttribute('space-key', firstSpaceKey);
//                    }
//                });
//            });
//
//            document.querySelector('confluence-content-list').addEventListener('navigate', function(event) {
//                currentContentId = event.detail.contentId;
//                document.querySelector('confluence-content-body').setAttribute('content-id', currentContentId);
//                //document.querySelector('confluence-comment-list').setAttribute('content-id', currentContentId);
//                document.querySelector('confluence-content-title').setAttribute('content-id', currentContentId);
//                event.preventDefault();
//            });
        </script>
    </div>
</body>
</html>
