{{!< ../layout}}
{{#contentFor 'pageStyles'}}
    <style>
        confluence-quick-search small { display: block; }
        confluence-quick-search ul li.active span,
        confluence-quick-search ul li.active small { color: #fff; }
    </style>
{{/contentFor}}
<h3>&lt;confluence-quick-search&gt;</h3>
<p>Allows users to easily navigate to recently visited pages, perform a search without leaving the current page, or performance a site-wide search.</p>
<h4>Attributes</h4>
<p>
    <strong>container-class {string}</strong> - A CSS class name that will be applied to the root DOM node. Use this to help target styles in your theme.<br />
    <strong>placeholder {bool}</strong> - Placeholder text to show in the search input field.
</p>
<div class="web-component-example">
    <div class="web-component-output">
        <confluence-quick-search placeholder="Search..."></confluence-quick-search>
        <pre id="quick-search-context"></pre>
        <script>
            document.querySelector('confluence-quick-search').addEventListener('select', function(event) {
                event.detail.nativeEvent.preventDefault();
                document.getElementById('quick-search-context').innerHTML = JSON.stringify({
                    targetName: event.detail.targetName,
                    context: event.detail.context,
                    query: event.detail.query
                }, null, '    ');
            });
        </script>
    </div>
    <div class="web-component-code">
        <pre><strong>&lt;confluence-quick-search placeholder="Search..."&gt;&lt;/confluence-quick-search&gt;</strong>
&lt;pre id="quick-search-context"&gt;&lt;/pre&gt;
&lt;script&gt;
    document.querySelector('confluence-quick-search').addEventListener('select', function(event) {
        event.detail.nativeEvent.preventDefault();
        document.getElementById('quick-search-context').innerHTML = JSON.stringify({
            targetName: event.detail.targetName,
            context: event.detail.context,
            query: event.detail.query
        }, null, '  ');
    });
&lt;/script&gt;</pre>
    </div>
</div>
