<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.9.12/css/aui.min.css" media="all" />
    <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.9.12/css/aui-experimental.min.css" media="all" />
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.5/react.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.5/react-dom.js"></script>-->
    <script src="{{hostScriptUrl}}" type="text/javascript"></script>
    <script src="/dist/confluence-web-components-flatpack.js"></script>
    <style>
        .web-component-example {
            margin:20px 0;
            border-radius:4px;
            border: 1px solid #ccc;
        }

        .web-component-example .web-component-output {
            padding:20px;
        }

        .web-component-example .web-component-code {
            background-color: #f5f5f5;
            padding:20px;
            border-top:1px solid #ccc;
            clear:both;
        }

        pre {
            color: #880000;
        }
    </style>
    {{{block "pageStyles"}}}
</head>
<body>
    <div id="page">
        <section id="content" role="main">
            <header class="aui-page-header">
                <div class="aui-page-header-inner">
                    <div class="aui-page-header-main">
                        <h1>Confluence Web Components Documentation</h1>
                    </div>
                </div>
            </header>
            <div class="aui-page-panel" style="min-height:400px">
                <div class="aui-page-panel-inner">
                    <div class="aui-page-panel-nav">
                        <nav class="aui-navgroup aui-navgroup-vertical">
                            <div class="aui-navgroup-inner">
                                <div class="aui-nav-heading">
                                    <strong>Documentation</strong>
                                </div>
                                <ul class="aui-nav">
                                    <li><a href="{{xdm_e}}{{cp}}/plugins/servlet/ac/confluence-web-components-connect/documentation" target="_top">Getting started</a></li>

                                </ul>
                                <div class="aui-nav-heading">
                                    <strong>Components</strong>
                                </div>
                                <ul class="aui-nav">
                                    <li><a href="{{xdm_e}}{{cp}}/plugins/servlet/ac/confluence-web-components-connect/quick-search" target="_top">Quick search</a></li>
                                    <li><a href="{{xdm_e}}{{cp}}/plugins/servlet/ac/confluence-web-components-connect/content-body" target="_top">Content body</a></li>
                                    <li><a href="{{xdm_e}}{{cp}}/plugins/servlet/ac/confluence-web-components-connect/comment-list" target="_top">Comment list</a></li>
                                </ul>
                                <div class="aui-nav-heading">
                                    <strong>Example themes</strong>
                                </div>
                                <ul class="aui-nav">
                                    <!--<li><a href="{{xdm_e}}{{cp}}/plugins/servlet/ac/confluence-web-components-connect/material-design" target="_top">Material Design</a></li>-->
                                    <li><a href="{{xdm_e}}{{cp}}/plugins/servlet/ac/confluence-web-components-connect/twenty-fifteen" target="_top">Twenty Fifteen</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <section class="aui-page-panel-content">
                        {{{body}}}
                    </section>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
