<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>
    <link rel="stylesheet" id="twentyfifteen-fonts-css" href="https://fonts.googleapis.com/css?family=Noto+Sans%3A400italic%2C700italic%2C400%2C700%7CNoto+Serif%3A400italic%2C700italic%2C400%2C700%7CInconsolata%3A400%2C700&subset=latin%2Clatin-ext" type="text/css" media="all" />
    <link rel="stylesheet" href="https://wp-themes.com/wp-content/themes/twentyfifteen/style.css?ver=4.5-beta1-36776" />
    <link rel="stylesheet" id="genericons-css" href="https://wp-themes.com/wp-content/themes/twentyfifteen/genericons/genericons.css?ver=3.2" type="text/css" media="all" />
    <script src="{{hostScriptUrl}}" type="text/javascript"></script>
    <script src="/dist/confluence-web-components-flatpack.js"></script>
    <style>
        .widget_recent_entries li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</head>
<body class="home blog">
    <div id="page" class="hfeed site">
        <div id="sidebar" class="sidebar">
            <header id="masthead" class="site-header" role="banner">
                <div class="site-branding">
                    <h1 class="site-title">
                        <confluence-space-title tag-name="span"></confluence-space-title>
                    </h1>
                </div>
            </header>
            <div id="secondary" class="secondary">
                <div id="widget-area" class="widget-area" role="complementary">
                    <aside class="widget widget_recent_entries">
                        <h2 class="widget-title">PAGES</h2>
                        <confluence-content-list tag-name="ul" cql="type=page and space=ds"></confluence-content-list>
                    </aside>
                </div>
            </div>

        </div>
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <article class="post type-post status-publish format-standard hentry">
                        <header class="entry-header">
                            <confluence-content-title tag-name="h2" class-name="entry-title"></confluence-content-title>
                        </header>
                        <div class="entry-content">
                            <confluence-content-body content-id="98308"></confluence-content-body>
                        </div>
                    </article>
                </main>
            </div>
            <!--<confluence-comment-list content-id="98308"></confluence-comment-list>-->
        </div>
        <script>
            var currentContentId = 98308;

            function editCurrentContent() {
                AP.require('navigator', function(navigator) {
                    navigator.go('contentedit', {
                        contentId: currentContentId
                    });
                });
            }

            AP.require('request', function(request) {
                request({
                    url: '/rest/api/space',
                    success: function(response) {
                        var firstSpaceKey = JSON.parse(response).results[0].key;
                        document.querySelector('confluence-space-title').setAttribute('space-key', firstSpaceKey);
                        document.querySelector('confluence-content-title').setAttribute('content-id', currentContentId);
                        document.querySelector('confluence-content-list').setAttribute('space-key', firstSpaceKey);
                    }
                });
            });

            document.querySelector('confluence-content-list').addEventListener('navigate', function(event) {
                currentContentId = event.detail.contentId;
                document.querySelector('confluence-content-body').setAttribute('content-id', currentContentId);
//                document.querySelector('confluence-comment-list').setAttribute('content-id', currentContentId);
                document.querySelector('confluence-content-title').setAttribute('content-id', currentContentId);
                event.preventDefault();
            });
        </script>
    </div>
</body>
</html>
