<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>
    <script src="{{hostScriptUrl}}" type="text/javascript"></script>
    <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.9.8/css/aui.min.css" media="all" />
    <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/5.9.8/css/aui-experimental.min.css" media="all" />
</head>
<body>
    <p>Unauthorized: {{message}}</p>
</body>
</html>


