{{!< layout}}
<h2>Getting Started</h2>
<p>This documentation will help you get up and running with the Confluence web components. If you haven't already, be sure to <a href="{{xdm_e}}{{cp}}/plugins/servlet/ac/confluence-web-components-connect/twenty-fifteen" target="_top">check out the example theme</a>.</p>
<p>To get started:</p>
<ol>
    <li>
        <p>Install the confluence-web-components modules with NPM</p>
        <p><pre>npm install confluence-web-components</pre></p>
    </li>
    <li>
        <p>Reference the web components javascript file from your add-on</p>
        <p><pre>&lt;script src="node_modules/confluence-web-components/dist/confluence-web-components.js"&gt;&lt;/script&gt;</pre></p>
    </li>
</ol>
<h2>Components</h2>
<h3>Quick search</h3>
<p>Allows users to easily navigate to recently visited pages, perform a search without leaving the current page, or performance a site-wide search.</p>
<h3>Content body</h3>
<p>Renders the HTML content for a piece of content (e.g. page or blogpost). This does not include the content title or comments.</p>
<h3>Content list</h3>
<p>Displays a list of content items based on a CQL query.</p>
